* {
    font: "Inter";
    font-size: 15px;
    outline: none;
    border: none;
    box-shadow: none;
    caret-color: #a89983;
}

window {
    margin: 5px;
    border: 5px solid #3C3836;
    background-color: #272727;
}

#input {
    margin: 5px;
    color: #a89983;
    background-color: #3C3836; 
}

#inner-box {
    margin: 5px;
    background-color: #272727;
}

#outer-box {
    margin: 5px;
    background-color: #272727; 
}

#scroll {
    margin: 5px;
}

#text {
    margin: 5px;
    color: #a89983;
}

#text:selected {
    color: #ebdbb2;
}

#entry:selected {
    background-color: #a89983;
    text-decoration: none; 
}
